body{
				background-image: url("https://us.123rf.com/450wm/annaleni/annaleni1608/annaleni160800043/64883698-red-grill-menu-line-patroon-van-de-tegel-vector-illustratie-van-outline-achtergrond-van-de-tegel-bar.jpg?ver=6");
			}

			.LOGO{
				width:10%;	
			}

			.navbar{
				border-bottom: 5px solid #fdb813;
			}

			.nav-link {
				font-family: 'Varela Round', sans-serif;
					
			}
			
			.nav-link:hover{
				background-color:#fdb813;
			}

			.container1{
				background-color:#df0c1d;
				width:80%;
				height:10%;
				margin:2% auto;
				border: 3px solid #fdb813;
				border-radius: 25px;
			}

			.container1 h1{
				margin-left: 45%;
				font-family: 'Varela Round', sans-serif;
				color: white;
			}

			.container2{
				background-color:#df0c1d;
				width:80%;
				height:85%;
				margin:2% auto;
				border: 3px solid #fdb813;
				border-radius: 25px;
			}

			.container2 h1{
				margin: 2% 0 0 4%;
				font-family: 'Varela Round', sans-serif;
				color: #fdb813;
			}

			.container2 li{
				margin: 1% 2% 0 2%;
				font-family: 'Varela Round', sans-serif;
				color: white;
			}

			.Footer{
				width:100%;
				height:10%;
				background-color:#df0c1d;
				border-top: 5px solid #fdb813;
				
			}
			
			.Footer li{
				list-style-type: none;
				display: inline-block;
				font-size:18px;	
				letter-spacing:1px;
				font-family: 'Varela Round', sans-serif;
				font-weight:bold;
				color:white;
				text-decoration: none;
				margin:0.5% 0 0 8%;
			}
			
			.Footer li a{
				color:white;
				
			}
			
			.Footer p{
				color:white;
				font-family: 'Varela Round', sans-serif;
				margin-left:39%;
				
			}

			@media screen and (max-width: 480px){
			.LOGO{
				width:50%;	
				}

			.container1{
				background-color:#df0c1d;
				width:80%;
				height:15%;
				margin:2% auto;
				border: 3px solid #fdb813;
				border-radius: 25px;
			}

			.container1 h1{
				margin-left: 35%;
				font-family: 'Varela Round', sans-serif;
				color: white;
			}

			.container2{
				background-color:#df0c1d;
				width:80%;
				height:100%;
				margin:2% auto;
				border: 3px solid #fdb813;
				border-radius: 25px;
			}

			.container2 h1{
				font-size: 20px;
				margin: 2% 0 0 4%;
				font-family: 'Varela Round', sans-serif;
				color: #fdb813;
			}

			.container2 li{
				font-size: 10px;
				margin: 1% 2% 0 2%;
				font-family: 'Varela Round', sans-serif;
				color: white;
			}

			.Footer{
				width:100%;
				height:20%;
				background-color:#df0c1d;
				border-top: 5px solid #fdb813;
				
			}
			
			.Footer li{
				list-style-type: none;
				display: inline-block;
				font-size:5px;	
				font-family: 'Varela Round', sans-serif;
				font-weight:bold;
				color:white;
				text-decoration: none;
				margin:0.5% 0 0 1%;
			}
			
			.Footer li a{
				color:white;
				
			}
			
			.Footer p{
				font-size: 7px;
				color:white;
				font-family: 'Varela Round', sans-serif;
				margin-left:24%;
				
			}

		}






		@media screen and (max-width: 768px) and (min-width: 481px)  { 
				.LOGO{
				width:25%;	
				}

			.container1{
				background-color:#df0c1d;
				width:80%;
				height:15%;
				margin:2% auto;
				border: 3px solid #fdb813;
				border-radius: 25px;
			}

			.container1 h1{
				margin-left: 45%;
				font-family: 'Varela Round', sans-serif;
				color: white;
			}

			.container2{
				background-color:#df0c1d;
				width:80%;
				height:140%;
				margin:2% auto;
				border: 3px solid #fdb813;
				border-radius: 25px;
			}

			.container2 h1{
				font-size: 25px;
				margin: 2% 0 0 4%;
				font-family: 'Varela Round', sans-serif;
				color: #fdb813;
			}

			.container2 li{
				font-size: 15px;
				margin: 1% 2% 0 2%;
				font-family: 'Varela Round', sans-serif;
				color: white;
			}

			.Footer{
				width:100%;
				height:20%;
				background-color:#df0c1d;
				border-top: 5px solid #fdb813;
				
			}
			
			.Footer li{
				list-style-type: none;
				display: inline-block;
				font-size:10px;	
				font-family: 'Varela Round', sans-serif;
				font-weight:bold;
				color:white;
				text-decoration: none;
				margin:0.5% 0 0 6%;
			}
			
			.Footer li a{
				color:white;
				
			}
			
			.Footer p{
				font-size: 9px;
				color:white;
				font-family: 'Varela Round', sans-serif;
				margin-left:36%;
				
			}

		}

		@media screen and (max-width: 1279px) and (min-width: 769px)  { 
				.LOGO{
				width:25%;	
				}

			.container1{
				background-color:#df0c1d;
				width:80%;
				height:15%;
				margin:2% auto;
				border: 3px solid #fdb813;
				border-radius: 25px;
			}

			.container1 h1{
				margin-left: 45%;
				font-family: 'Varela Round', sans-serif;
				color: white;
			}

			.container2{
				background-color:#df0c1d;
				width:80%;
				height:150%;
				margin:2% auto;
				border: 3px solid #fdb813;
				border-radius: 25px;
			}

			.container2 h1{
				font-size: 25px;
				margin: 2% 0 0 4%;
				font-family: 'Varela Round', sans-serif;
				color: #fdb813;
			}

			.container2 li{
				font-size: 15px;
				margin: 1% 2% 0 2%;
				font-family: 'Varela Round', sans-serif;
				color: white;
			}

			.Footer{
				width:100%;
				height:25%;
				background-color:#df0c1d;
				border-top: 5px solid #fdb813;
				
			}
			
			.Footer li{
				list-style-type: none;
				display: inline-block;
				font-size:15px;	
				font-family: 'Varela Round', sans-serif;
				font-weight:bold;
				color:white;
				text-decoration: none;
				margin:0.5% 0 0 7%;
			}
			
			.Footer li a{
				color:white;
				
			}
			
			.Footer p{
				font-size: 15px;
				color:white;
				font-family: 'Varela Round', sans-serif;
				margin-left:36%;
				
			}

		}
			}